# This is the configuration for the Databricks Asset Bundle {{.project_name}}.

bundle:
  name: {{.project_name}}

include:
  - resources/*.yml

variables:
  cloud_provider:
    description: "Cloud provider"
    default: aws
  node_type_id:
    description: "node type id"
    default: m5d.2xlarge
  num_workers:
    description: "number of workers"
    default: 40
  zone_id:
    description: "AWS zone_id attribute"
    default: us-west-2a
  catalog:
    description: "unity catalog name"
    default: my_catalog
  schema:
    description: "schema name"
    default: my_schema
  volume:
    description: "source file volume"
    default: my_volume
  checkpoints_volume:
    description: "checkpoints volume"
    default: checkpoints
  reset_data:
    description: "reset all data tables boolean flag"
    default: "true"
  table_prefix:
    description: "output table prefix"
    default: my_project

targets:
  # The deployment targets. See https://docs.databricks.com/en/dev-tools/bundles/deployment-modes.html
  dev:
    mode: development
    default: true
    workspace:
      host: {{workspace_host}}

  prod:
    mode: production
    workspace:
      host: {{workspace_host}}
      root_path: /Shared/.bundle/prod/${bundle.name}
    {{- if not is_service_principal}}
    run_as:
      # This runs as {{user_name}} in production. Alternatively,
      # a service principal could be used here using service_principal_name
      user_name: {{user_name}}
    {{end -}}